<div>
    <div class='row'>
        <div class="col-xs-2 col-xs-offset-8">
            <md-select ng-model="bankFormat" style="min-width: 200px;">
                <md-select-label style="font-size:15px;">{{ bankFormat ? bankFormat : 'Select Bank' }}</md-select-label>
                <md-option ng-value="bankFormat" style="font-size:15px;" ng-repeat="bankFormat in bankFormats">{{bankFormat}}</md-option>
            </md-select>
        </div>
        <div class="col-xs-2">
            <md-button class="md-raised md-primary">
                <label for="file-input">Upload</label>
            </md-button>
            <input id="file-input" fileread="fdata" style="display:none;" type="file">
        </div>
    </div>
    <div class="row" style="margin-left:20px">
        <md-list>
            <md-subheader class="md-no-sticky">
                <div class="row md-list-item-text">
                    <div class="col-xs-2">
                        From
                    </div>
                    <div class="col-xs-2">
                        To
                    </div>
                    <div class="col-xs-2">
                        No. Of Lines
                    </div>
                    <div class="col-xs-1">
                        Reconcile
                    </div>
                </div>
            </md-subheader>
            <md-list-item class="md-3-line" ng-repeat="statement in bank_statement">
                <div class="row md-list-item-text" style="padding:3px;">
                    <div class="col-xs-2">
                        {{statement.from_date}}
                    </div>
                    <div class="col-xs-2">
                        {{statement.to_date}}
                    </div>
                    <div class="col-xs-2">
                        {{statement.txn_count}}
                    </div>
                    <div class="col-xs-1">
                        {{statement.reconciled}}
                    </div>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </div>
</div>