<html>

<head>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.css">  -->

    <script src="incl/jquery.js"></script>
    <link rel="stylesheet" href="incl/bootstrap.css">
    <script src="incl/bootstrap.js"></script>
    <script src="incl/angular.js"></script>
    <script src="incl/angular-animate.js"></script>
    <script src="incl/angular-aria.js"></script>
    <script src="incl/angular-material.js"></script>
    <link rel="stylesheet" href="incl/angular-material.css">
    <script src="incl/angular-ui-router.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <script src="angularJS.js"></script>
    <script src="services.js"></script>
    <script src="comp/reconcile/reconcile.js"></script>
    <script src="comp/rules/rules.js"></script>
    <script src="comp/bank_statement/bank_statement.js"></script>
    <meta name="viewport" content="initial-scale=1" />
</head>

<body ng-app='reconApp'>
    <div class="container" ng-controller="selectBank">
        <div class="row">
            <div ng-show="false" class="col-xs-2" style="border-right: thin solid #aaa;padding-right:0px;">
                <p style="padding-top:15px;font-size:17px;"><strong>Statment Balance</strong>
                    <br>1235</p>
            </div>
            <div ng-show="false" class="col-xs-2">
                <p style="padding-top:15px;font-size:17px;"><strong>Balance in ERP</strong>
                    <br>1235</p>
            </div>
            <div class="col-xs-3 col-xs-offset-8">
                <md-select ng-model="bank" style="min-width: 200px;">
                    <md-select-label style="font-size:15px;">{{ bank ? bank.value : 'Select Bank' }}</md-select-label>
                    <md-option ng-value="bank" style="font-size:15px;" ng-repeat="bank in banks">{{bank.value}}</md-option>
                </md-select>
            </div>
        </div>
        <div ng-show=" bank ? true : false" ui-view='on_bank_select'></div>
    </div>

</body>

</html>
